PG_USER=
PG_PASSWORD=
PG_DB=

TEST_PG_USER=
TEST_PG_PASSWORD=
TEST_PG_DB=

JWT_SECRET_KEY=
TEST_JWT_SECRET_KEY=

METRICS_TOKEN=

BACKEND_PORT=
PROMETHEUS_PORT=
GRAFANA_PORT=
DB_PORT=
TEST_DB_PORT=
REDIS_PORT=